{% extends 'girekstudio/demo-branding-agency.html' %}
{% block metas %}
<!-- metas pagweb -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="author" content="GirekStudio">
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta property="og:title" content="GirekStudio - Agencia de Diseño" />
<meta property="og:description" content="{{ editable.sec_2_detalle_4 }}" />
<meta property="og:url" content="https://benitez-ec/girekstudio/estudio/" />
<meta property="og:image" content="/media/{{ editable.sec_2_imagen_1 }}" />
<meta property="og:type" content="website" />
{% endblock %}

 {% block principal %}
        <!-- start banner -->
        <section class="p-0 top-space-margin position-relative overflow-hidden">
            <div class="container-fluid p-0 h-100 position-relative">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-5 d-flex justify-content-center align-items-center ps-10 xxl-ps-6 xl-ps-4 md-ps-4 sm-ps-0 position-relative order-2 order-lg-1" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="vertical-title-center align-items-center justify-content-center flex-shrink-0 w-75px sm-w-50px">
                            <h1 class="title fs-15 alt-font text-dark-gray fw-700 text-uppercase ls-1px text-uppercase d-flex w-auto align-items-center m-0" data-fancy-text='{ "opacity": [0, 1], "translateY": [50, 0], "filter": ["blur(20px)", "blur(0px)"], "string": ["{{editable.sec_2_subti_1}}"], "duration": 400, "delay": 0, "speed": 50, "easing": "easeOutQuad" }'></h1>
                        </div>
                        <div class="border-start border-color-extra-medium-gray ps-40px sm-ps-20px position-relative z-index-9">
                            <h2 class="text-dark-gray fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-20 md-me-0 sm-mb-0 ls-minus-3px">{{editable.sec_2_titulo_1}}</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 position-relative one-half-screen order-1 order-lg-2 md-mb-50px"> 
                        <div class="overflow-hidden position-relative">
                            <div class="w-100" data-anime='{ "effect": "slide", "direction": "lr", "color": "#f7f7f7", "duration": 1000, "delay": 0 }'>
                                <img src="/media/{{editable.sec_2_imagen_1}}" alt="" class="w-100 liquid-parallax" data-parallax-liquid="true" data-parallax-position="top" data-parallax-scale="1.05">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end banner -->
        <!-- start section  -->
        <section>
            <div class="container">
                <div class="row mb-6 sm-mb-50px">
                    <div class="col-md-12 text-center text-md-start" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px" data-bottom-top="transform: translate3d(-50px, 0px, 0px);" data-top-bottom="transform: translate3d(50px, 0px, 0px);">{{editable.sec_2_titulo_2}}</div>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center align-items-lg-end" data-bottom-top="transform: translate3d(-30px, 0px, 0px);" data-top-bottom="transform: translate3d(30px, 0px, 0px);">
                            <div class="col-lg-3 col-md-4 text-md-end text-center md-mt-30px md-mb-20px" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <div class="position-relative">
                                    <img src="/media/{{editable.sec_2_imagen_rota}}" class="animation-rotation position-relative z-index-2" alt="">
                                    <div class="absolute-middle-center w-100 z-index-1"><img src="/media/{{editable.sec_2_imag_rota_ico}}" alt=""></div> 
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 text-center text-md-start" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <div class="fs-140 xxl-fs-100 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-8px sm-ls-minus-2px">{{editable.sec_2_palabra}}</div>
                            </div>
                            <div class="col-lg-4 last-paragraph-no-margin md-mt-30px" data-anime='{"opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <p class="w-95 md-w-80 mx-auto text-center text-lg-start sm-w-100">{{editable.sec_2_detalle_2}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 counter-style-04" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                        <div class="feature-box-content">
                            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">{{editable.sec_2_clientes_detalle}}</p>
                            <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0" data-text="+" data-to="{{editable.sec_2_clientes}}"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-mb-50px sm-mb-30px">
                        <div class="feature-box-content">
                            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">{{editable.sec_2_proyectos_detalle}}</p>
                            <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0" data-text="+" data-to="{{editable.sec_2_proyectos}}"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px sm-mb-30px">
                        <div class="feature-box-content">
                            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">{{editable.sec_2_anios_exper_detalle}}</p>
                            <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0" data-text="+" data-to="{{editable.sec_2_anios_exper}}"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px">
                        <div class="feature-box-content">
                            <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">{{editable.sec_2_crecimi_detalle}}</p>
                            <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0" data-text="%" data-to="{{editable.sec_2_crecimi}}"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="pt-0">
            <div class="container">
                <div class="row mb-17 sm-mb-30px">
                    <div class="col-lg-6 position-relative">
                        <div class="row align-items-center position-relative md-mb-15" data-anime='{ "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <div class="col-md-5 sm-mb-30px" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
                               <img src="/media/{{editable.sec_2_imagen_3}}" alt="" />
                            </div>
                            <div class="col-lg-7 col-md-7 sm-mb-30px text-end" data-bottom-top="transform: translateY(-30px)" data-top-bottom="transform: translateY(30px)">
                                <img src="/media/{{editable.sec_2_imagen_4}}" alt="" class="box-shadow-quadruple-large md-w-80 sm-w-100" />
                            </div>
                            <div class="w-50 sm-w-100 overflow-hidden position-absolute sm-position-relative left-140px bottom-minus-200px sm-bottom-0px sm-left-0px p-0 sm-ps-15px sm-pe-15px" data-shadow-animation="true" data-animation-delay="100" data-bottom-top="transform: translateY(20px)" data-top-bottom="transform: translateY(-20px)">
                                <img src="/media/{{editable.sec_2_imagen_5}}" alt="" class="box-shadow-quadruple-large w-100" />
                            </div>
                        </div> 
                    </div>
                    <div class="col-xl-5 col-lg-6 offset-xl-1 md-mt-20 sm-mt-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="mb-10px">
                            <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                            <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">{{editable.sec_2_subti_4}}</span>
                        </div>
                        <h4 class="text-dark-gray alt-font fw-600 ls-minus-2px mb-20px">{{editable.sec_2_titulo_4}}</h4>
                        <p class="w-90 md-w-100 mb-35px sm-mb-20px">{{editable.sec_2_detalle_4}}</p>
                        
                        <a href="https://api.whatsapp.com/send?phone=+593{{ contacto_empresa.whatsapp }}&text=Hola%20Me%20interesa%20un%20servicio%20de%20diseño  GirekStudio "
                            class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow border-1 left-icon me-15px sm-mb-15px sm-mt-15px">
                                        <span>
                                            <span><i class="feather icon-feather-edit"></i></span>
                                            <span class="btn-double-text" data-text="  &nbsp; &nbsp; Whatsapp">Escribir</span>
                                        </span>
                            </a>
                            <a href="/girekstudio/servicios/" class="btn btn-large btn-transparent-light-gray border-1 btn-switch-text left-icon sm-mb-15px sm-mt-15px">
                                <span>
                                    <span><i class="feather icon-feather-briefcase"></i></span>
                                    <span class="btn-double-text" data-text="&nbsp; Ver">Servicios</span>
                                </span>
                            </a>
                    </div>
                </div> 
                
            </div>
        </section>
        <!-- end section -->


        <!-- start section -->
        <section>
            <div class="container">
                <div class="mb-10px">
                    <div class="mb-10px">
                            <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                            <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">{{editable.sec_2_subti_4}}</span>
                        </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2" data-anime='{ "el": "childs", "translateY": [30, 0], "rotateX":[30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    {% for equipo in equipos %}
                    	<!-- start team member item -->
                            <div class="col team-style-10 md-mb-30px">
                                <figure class="mb-0 position-relative overflow-hidden">
                                    <img src="/media/{{ equipo.foto }}" alt="" />
                                    <img src="/media/{{ equipo.foto_2 }}" class="hover-switch-image" alt="" />
                                    <figcaption class="w-100 h-100 d-flex flex-wrap">

                                        <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                                            <span class="team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">{{ equipo.nombre }}</span>
                                            <span class="member-designation fs-15 lh-20 ms-auto alt-font flex-shrink-0">{{ equipo.cargo }}</span>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        <!-- end team member item -->
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <i class="bi bi-envelope text-dark-gray d-inline-block align-middle icon-extra-medium me-5px"></i>
                        <div class="fs-18 text-dark-gray d-inline-block align-middle fw-500"> Ahorre tiempo y esfuerzo valiosos que dedica a buscar una solución.<a href="https://api.whatsapp.com/send?phone=+593{{ contacto_empresa.whatsapp }}&text=Hola%20Me%20interesa%20un%20servicio%20de%20diseño  GirekStudio " class="text-dark-gray text-decoration-line-bottom fw-600"> Contáctenos ahora</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
   {% endblock %}