{% extends 'vortice/index_vortice.html' %}
{% block metas %}
    <meta property="og:url" content="http://www.grupo-benitez.com/vortice/producto_detalle/{{ products.id }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ products.nombre_producto }}" />
    <meta property="og:description" content="{{ products.descripcion}}" />
    <meta property="og:image"  content="http://www.grupo-benitez.com/media/{{ products.imagen }}" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="fb:app_id" content="926164441218858" />
{% endblock %}
{% block principal %}


    <br>

    <!-- product details -->
    <div class="segments-page">
        <div class="container">
            <p>Página no encontrada</p>
        </div>
    </div>


{% endblock %}
