{% extends 'vortice/index_vortice.html' %}
{% block principal %}
    <!-- page-title -->
    <div class="tf-page-title">
        <div class="container-full">
            <div class="heading text-center">{{ seccion_id.cliente }}</div>
            <p class="text-center text-2 text_black-2 mt_5">Compre nuestra última selección de ropa para {{ seccion_id.cliente }}.
            </p>
        </div>
    </div>
    <!-- /page-title -->
    <!-- Collection -->
        <section class="flat-spacing-3 pb_0">
            <div class="container">
                <div class="hover-sw-nav">
                    <div class="swiper tf-sw-collection" data-preview="5" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="30" data-space="15" data-loop="false" data-auto-play="false">
                        <div class="swiper-wrapper">
                            {% for tipo_articulo in tipo_articulos %}
                                {% if tipo_articulo.activo_menu %}
                                    <div class="swiper-slide" lazy="true">
                                        <div class="collection-item style-2 hover-img">
                                            <div class="collection-inner">
                                                <a href="/vortice/seccion/{{tipo_articulo.coleccion.cliente.cliente}}/prenda/{{tipo_articulo.nombre_articulo}}/" class="collection-image img-style">
                                                    <img class="lazyload" data-src="/media/{{ tipo_articulo.imagen_articulo }}" src="/media/{{ tipo_articulo.imagen_articulo }}" alt="collection-img">
                                                </a>
                                                <div class="collection-content">
                                                    <a href="/vortice/seccion/{{tipo_articulo.coleccion.cliente.cliente}}/prenda/{{tipo_articulo.nombre_articulo}}/" class="tf-btn collection-title hover-icon fs-15"><span>{{ tipo_articulo.nombre_articulo }}</span><i class="icon icon-arrow1-top-left"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                            	
                            {% endfor %}
                        </div>
                    </div>
                    <div class="nav-sw nav-next-slider nav-next-collection box-icon w_46 round"><span class="icon icon-arrow-left"></span></div>
                    <div class="nav-sw nav-prev-slider nav-prev-collection box-icon w_46 round"><span class="icon icon-arrow-right"></span></div>
                    <div class="sw-dots style-2 sw-pagination-collection justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Collection -->

    <section class="flat-spacing-1">
        <div class="container-full">
            <div class="tf-shop-control grid-3 align-items-center" style="text-align: center;">
                
                <ul class="tf-control-layout d-flex justify-content-center " >
                    <li class="tf-view-layout-switch sw-layout-2" data-value-grid="grid-2">
                        <div class="item"><span class="icon icon-grid-2"></span></div>
                    </li>
                    <li class="tf-view-layout-switch sw-layout-3" data-value-grid="grid-3">
                        <div class="item"><span class="icon icon-grid-3"></span></div>
                    </li>
                    <li class="tf-view-layout-switch sw-layout-4 active" data-value-grid="grid-4">
                        <div class="item"><span class="icon icon-grid-4"></span></div>
                    </li>
                    <li class="tf-view-layout-switch sw-layout-5" data-value-grid="grid-5">
                        <div class="item"><span class="icon icon-grid-5"></span></div>
                    </li>
                    <li class="tf-view-layout-switch sw-layout-6" data-value-grid="grid-6">
                        <div class="item"><span class="icon icon-grid-6"></span></div>
                    </li>
                </ul>
               
            </div>
            <div class="grid-layout wrapper-shop" data-grid="grid-4">

                {% for product in products %}
                    <!-- card product -->
                    <div class="card-product">
                        <div class="card-product-wrapper">
                            <a href="/vortice/producto_detalle/{{ product.id }}" class="product-img">
                                <img class="lazyload img-product" data-src="/media/{{ product.imagen_produc_01 }}"
                                     src="/media/{{ product.imagen_produc_01 }}" alt="image-product">

                                {% if product.imagen_produc_02 %}
                                <img class="lazyload img-hover" data-src="/media/{{ product.imagen_produc_02 }}"
                                src="/media/{{ product.imagen_produc_02 }}" alt="image-product">
                                {% else %}
                                <img class="lazyload img-hover" data-src="/media/{{ product.imagen_produc_01 }}"
                                     src="/media/{{ product.imagen_produc_01 }}" alt="image-product">
                                {% endif %}

                               
                            </a>
                                          

                        </div>
                        <div class="card-product-info">
                            <a href="/vortice/producto_detalle/{{ product.id }}" class="title link">{{ product.precio }}</a>
                            <span class="price">From ${{ product.precio }}</span>                    
                        </div>
                    </div>
                    <!-- card product  -->
                {% endfor %}
            </div>
            <!-- pagination -->
            <ul class="tf-pagination-wrap tf-pagination-list">
                <li class="active">
                    <a href="#" class="pagination-link">1</a>
                </li>
                <li>
                    <a href="#" class="pagination-link animate-hover-btn">2</a>
                </li>
                <li>
                    <a href="#" class="pagination-link animate-hover-btn">3</a>
                </li>
                <li>
                    <a href="#" class="pagination-link animate-hover-btn">4</a>
                </li>
                <li>
                    <a href="#" class="pagination-link animate-hover-btn">
                        <span class="icon icon-arrow-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </section>




{% endblock %}    