{% extends 'delifrus/index_delifrus.html' %}
{% load static %}
{% block menu %}
    <li><a href="/delifrus/" ss="nav-link">Inicio</a></li>
    <li><a href="/delifrus/empresa/" class="nav-link active"cla>Nosotros</a></li>
    <li><a href="/delifrus/productos/" class="nav-link">Productos</a></li>
    <li><a href="/delifrus/contacto/" class="nav-link">Contacto</a></li>
{% endblock %}
<div role="main" class="main">
    {% block content %}
        <div class="container pb-xl-5">
            <br><br>
            <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">
                <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">
                    <div class="custom-svg-wrapper-1 px-5">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 687 673" data-plugin-float-element-svg="true">
                            <g class="d-none d-md-block" data-plugin-float-element
                               data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="589" cy="216"
                                        r="27"/>
                                <circle fill="#FFF" fill="#FFFFFF" cx="588.5" cy="216.5" r="24.5"/>
                            </g>
                            <g class="d-none d-lg-block" data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="128" cy="609"
                                        r="17"/>
                                <circle fill="#FFF" cx="127.69" cy="609.31" r="15.43"/>
                            </g>
                            <g opacity="0.7" data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="148" cy="64.5"
                                        r="14.5"/>
                                <circle fill="#FFF" cx="148.27" cy="64.77" r="13.16"/>
                            </g>
                            <linearGradient id="SVGID_1_" class="custom-svg-linear-gradient"
                                            gradientUnits="userSpaceOnUse" x1="507.8588" y1="461.6467" x2="171.5928"
                                            y2="125.3807">
                                <stop offset="0" style="stop-color:#5349FF"/>
                                <stop offset="1" style="stop-color:#0088CC"/>
                            </linearGradient>
                            <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="700">
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <path fill="url(#SVGID_1_)" opacity="0.2" d="M252,64c26.24-11.75,48.83-15.22,67-18c14.48-2.22,21.72-3.33,32-3c9.04,0.29,37.99,1.59,66,21
                                            c9.9,6.86,16.05,13.46,24,22c4.57,4.91,15.33,16.93,30,41c5.64,9.25,18.4,31.03,31,62c12.24,30.1,18.27,53.97,22,69
                                            c7.74,31.18,12.66,51,13,79c0.36,29.73-4.65,52.49-7,62c-4.51,18.26-9.8,39.64-25,62c-21.92,32.23-51.17,46.98-77,60
                                            c-16.86,8.5-34.6,17.24-60,20c-22.47,2.44-40.04-0.98-50-3c-10.59-2.15-35.39-8.17-62-25c-30.2-19.1-46.48-41.85-62-64
                                            c-33.11-47.26-45.37-92.3-50-113c-8.73-39.06-8.09-71.09-7-88c1.52-23.61,4.05-57.78,23-96c5.29-10.68,14.58-29.02,33-48
                                            C215.85,80.47,239.52,69.59,252,64z"/>
                                </g>
                            </g>
                            <linearGradient id="SVGID_2_" class="custom-svg-linear-gradient"
                                            gradientUnits="userSpaceOnUse" x1="492.229" y1="463.2329" x2="145.1594"
                                            y2="116.1633">
                                <stop offset="0" style="stop-color:#5349FF"/>
                                <stop offset="1" style="stop-color:#0088CC"/>
                            </linearGradient>
                            <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="900">
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <path fill="url(#SVGID_2_)" opacity="0.5" d="M111,154c25.18-37.35,61.01-52.15,80-60c33.83-13.98,62.35-15.1,85-16c49.05-1.94,87.48,8.19,106,14
                                            c26.65,8.35,77.28,24.9,122,72c13.61,14.34,44.32,47.47,58,100c6.27,24.07,5.51,48.05,4,96c-0.2,6.4-0.68,16.99-6,29
                                            c-5.8,13.09-14.47,21.33-21,27c-37.42,32.48-75,48-75,48c-50.83,20.99-94.45,24.86-121,27c-40.5,3.27-78.77,5.96-122-10
                                            c-30.74-11.35-47.68-26.12-53-31c-4.3-3.94-13.34-12.73-31-40c-20.04-30.95-30.38-46.93-39-71c-14.81-41.38-14.11-77.61-13-94
                                            C86.73,219.43,88.95,186.71,111,154z"/>
                                </g>
                            </g>
                            <g data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="523" cy="103"
                                        r="6"/>
                            </g>
                            <g data-plugin-float-element
                               data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle fill="#DFDFDB" cx="195.5" cy="519.5" r="11.5"/>
                            </g>
                        </svg>
                        <div data-plugin-float-element
                             data-plugin-options="{'startPos': 'top', 'speed': 0.1, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                            <img src="/media/{{ editable.empr_imagen }}"
                                 class="img-fluid position-relative z-index-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: center">
                    <h2 class="font-weight-bold text-10 appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="400">{{ editable.empr_titulo }}</h2>
                    <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                       data-appear-animation="fadeInUpShorter"
                       data-appear-animation-delay="800">{{ editable.empr_detalle }}</p>
                </div>
            </div>
            <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">

                <div class="col-lg-6" style="text-align: center">
                    <h2 class="font-weight-bold text-10 appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="400">{{ editable.empr_titulo2 }}</h2>
                    <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                       data-appear-animation="fadeInUpShorter"
                       data-appear-animation-delay="800">{{ editable.empr_detalle2 }}</p>
                </div>
                <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">
                    <div class="custom-svg-wrapper-1 px-5">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 687 673" data-plugin-float-element-svg="true">
                            <g class="d-none d-md-block" data-plugin-float-element
                               data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="589" cy="216"
                                        r="27"/>
                                <circle fill="#FFF" fill="#FFFFFF" cx="588.5" cy="216.5" r="24.5"/>
                            </g>
                            <g class="d-none d-lg-block" data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="128" cy="609"
                                        r="17"/>
                                <circle fill="#FFF" cx="127.69" cy="609.31" r="15.43"/>
                            </g>
                            <g opacity="0.7" data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="148" cy="64.5"
                                        r="14.5"/>
                                <circle fill="#FFF" cx="148.27" cy="64.77" r="13.16"/>
                            </g>
                            <linearGradient id="SVGID_1_" class="custom-svg-linear-gradient"
                                            gradientUnits="userSpaceOnUse" x1="507.8588" y1="461.6467" x2="171.5928"
                                            y2="125.3807">
                                <stop offset="0" style="stop-color:#5349FF"/>
                                <stop offset="1" style="stop-color:#0088CC"/>
                            </linearGradient>
                            <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="700">
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <path fill="url(#SVGID_1_)" opacity="0.2" d="M252,64c26.24-11.75,48.83-15.22,67-18c14.48-2.22,21.72-3.33,32-3c9.04,0.29,37.99,1.59,66,21
                                            c9.9,6.86,16.05,13.46,24,22c4.57,4.91,15.33,16.93,30,41c5.64,9.25,18.4,31.03,31,62c12.24,30.1,18.27,53.97,22,69
                                            c7.74,31.18,12.66,51,13,79c0.36,29.73-4.65,52.49-7,62c-4.51,18.26-9.8,39.64-25,62c-21.92,32.23-51.17,46.98-77,60
                                            c-16.86,8.5-34.6,17.24-60,20c-22.47,2.44-40.04-0.98-50-3c-10.59-2.15-35.39-8.17-62-25c-30.2-19.1-46.48-41.85-62-64
                                            c-33.11-47.26-45.37-92.3-50-113c-8.73-39.06-8.09-71.09-7-88c1.52-23.61,4.05-57.78,23-96c5.29-10.68,14.58-29.02,33-48
                                            C215.85,80.47,239.52,69.59,252,64z"/>
                                </g>
                            </g>
                            <linearGradient id="SVGID_2_" class="custom-svg-linear-gradient"
                                            gradientUnits="userSpaceOnUse" x1="492.229" y1="463.2329" x2="145.1594"
                                            y2="116.1633">
                                <stop offset="0" style="stop-color:#5349FF"/>
                                <stop offset="1" style="stop-color:#0088CC"/>
                            </linearGradient>
                            <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="900">
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <path fill="url(#SVGID_2_)" opacity="0.5" d="M111,154c25.18-37.35,61.01-52.15,80-60c33.83-13.98,62.35-15.1,85-16c49.05-1.94,87.48,8.19,106,14
                                            c26.65,8.35,77.28,24.9,122,72c13.61,14.34,44.32,47.47,58,100c6.27,24.07,5.51,48.05,4,96c-0.2,6.4-0.68,16.99-6,29
                                            c-5.8,13.09-14.47,21.33-21,27c-37.42,32.48-75,48-75,48c-50.83,20.99-94.45,24.86-121,27c-40.5,3.27-78.77,5.96-122-10
                                            c-30.74-11.35-47.68-26.12-53-31c-4.3-3.94-13.34-12.73-31-40c-20.04-30.95-30.38-46.93-39-71c-14.81-41.38-14.11-77.61-13-94
                                            C86.73,219.43,88.95,186.71,111,154z"/>
                                </g>
                            </g>
                            <g data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="523" cy="103"
                                        r="6"/>
                            </g>
                            <g data-plugin-float-element
                               data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle fill="#DFDFDB" cx="195.5" cy="519.5" r="11.5"/>
                            </g>
                        </svg>
                        <div data-plugin-float-element
                             data-plugin-options="{'startPos': 'top', 'speed': 0.1, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                            <img src="/media/{{ editable.empr_imagen2 }}"
                                 class="img-fluid position-relative z-index-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">
                <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">
                    <div class="custom-svg-wrapper-1 px-5">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 687 673" data-plugin-float-element-svg="true">
                            <g class="d-none d-md-block" data-plugin-float-element
                               data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="589" cy="216"
                                        r="27"/>
                                <circle fill="#FFF" fill="#FFFFFF" cx="588.5" cy="216.5" r="24.5"/>
                            </g>
                            <g class="d-none d-lg-block" data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="128" cy="609"
                                        r="17"/>
                                <circle fill="#FFF" cx="127.69" cy="609.31" r="15.43"/>
                            </g>
                            <g opacity="0.7" data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="148" cy="64.5"
                                        r="14.5"/>
                                <circle fill="#FFF" cx="148.27" cy="64.77" r="13.16"/>
                            </g>
                            <linearGradient id="SVGID_1_" class="custom-svg-linear-gradient"
                                            gradientUnits="userSpaceOnUse" x1="507.8588" y1="461.6467" x2="171.5928"
                                            y2="125.3807">
                                <stop offset="0" style="stop-color:#5349FF"/>
                                <stop offset="1" style="stop-color:#0088CC"/>
                            </linearGradient>
                            <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="700">
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <path fill="url(#SVGID_1_)" opacity="0.2" d="M252,64c26.24-11.75,48.83-15.22,67-18c14.48-2.22,21.72-3.33,32-3c9.04,0.29,37.99,1.59,66,21
                                            c9.9,6.86,16.05,13.46,24,22c4.57,4.91,15.33,16.93,30,41c5.64,9.25,18.4,31.03,31,62c12.24,30.1,18.27,53.97,22,69
                                            c7.74,31.18,12.66,51,13,79c0.36,29.73-4.65,52.49-7,62c-4.51,18.26-9.8,39.64-25,62c-21.92,32.23-51.17,46.98-77,60
                                            c-16.86,8.5-34.6,17.24-60,20c-22.47,2.44-40.04-0.98-50-3c-10.59-2.15-35.39-8.17-62-25c-30.2-19.1-46.48-41.85-62-64
                                            c-33.11-47.26-45.37-92.3-50-113c-8.73-39.06-8.09-71.09-7-88c1.52-23.61,4.05-57.78,23-96c5.29-10.68,14.58-29.02,33-48
                                            C215.85,80.47,239.52,69.59,252,64z"/>
                                </g>
                            </g>
                            <linearGradient id="SVGID_2_" class="custom-svg-linear-gradient"
                                            gradientUnits="userSpaceOnUse" x1="492.229" y1="463.2329" x2="145.1594"
                                            y2="116.1633">
                                <stop offset="0" style="stop-color:#5349FF"/>
                                <stop offset="1" style="stop-color:#0088CC"/>
                            </linearGradient>
                            <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="900">
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <path fill="url(#SVGID_2_)" opacity="0.5" d="M111,154c25.18-37.35,61.01-52.15,80-60c33.83-13.98,62.35-15.1,85-16c49.05-1.94,87.48,8.19,106,14
                                            c26.65,8.35,77.28,24.9,122,72c13.61,14.34,44.32,47.47,58,100c6.27,24.07,5.51,48.05,4,96c-0.2,6.4-0.68,16.99-6,29
                                            c-5.8,13.09-14.47,21.33-21,27c-37.42,32.48-75,48-75,48c-50.83,20.99-94.45,24.86-121,27c-40.5,3.27-78.77,5.96-122-10
                                            c-30.74-11.35-47.68-26.12-53-31c-4.3-3.94-13.34-12.73-31-40c-20.04-30.95-30.38-46.93-39-71c-14.81-41.38-14.11-77.61-13-94
                                            C86.73,219.43,88.95,186.71,111,154z"/>
                                </g>
                            </g>
                            <g data-plugin-float-element
                               data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="523" cy="103"
                                        r="6"/>
                            </g>
                            <g data-plugin-float-element
                               data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <circle fill="#DFDFDB" cx="195.5" cy="519.5" r="11.5"/>
                            </g>
                        </svg>
                        <div data-plugin-float-element
                             data-plugin-options="{'startPos': 'top', 'speed': 0.1, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                            <img src="/media/{{ editable.empr_imagen3 }}"
                                 class="img-fluid position-relative z-index-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: center">
                    <h2 class="font-weight-bold text-10 appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="400">{{ editable.empr_titulo3 }}</h2>
                    <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                       data-appear-animation="fadeInUpShorter"
                       data-appear-animation-delay="800">{{ editable.empr_detalle3 }}</p>
                </div>
            </div>
        </div>
    {% endblock %}
</div>