{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Delifrus</title>

    <meta name="keywords" content="Delifrus"/>
    <meta name="description" content="Delifrus">
    <meta name="author" content="delifrus">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/static_delifrus/{{ marca.favicon }}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/static/static_delifrus/{{ marca.favicon }}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">


    <link id="googleFonts"
          href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CPlayfair+Display:400,700,900&display=swap"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/static_delifrus/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/bootstrap-star-rating/css/star-rating.min.css">
    <link rel="stylesheet" href="/static/static_delifrus/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/static/static_delifrus/css/theme.css">
    <link rel="stylesheet" href="/static/static_delifrus/css/theme-elements.css">
    <link rel="stylesheet" href="/static/static_delifrus/css/theme-blog.css">
    <link rel="stylesheet" href="/static/static_delifrus/css/theme-shop.css">


    <!-- Demo CSS -->
    <link rel="stylesheet" href="/static/static_delifrus/css/demos/demo-startup-agency.css">
    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/static/static_delifrus/css/skins/skin-startup-agency.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/static/static_delifrus/css/custom.css">

    <!-- Head Libs -->
    <script src="/static/static_delifrus/vendor/modernizr/modernizr.min.js"></script>


</head>
<body data-target="#header" data-spy="scroll" data-offset="257">

<div class="body">
    <header id="header" class="header-effect-shrink header-transparent"
            data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
        <div class="header-body header-body-bottom-border border-top-0 appear-animation" data-appear-animation="fadeIn"
             data-appear-animation-delay="900">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="/delifrus/">
                                    <img src="/media/{{ marca.logo_horizontal }}" class="img-fluid" width="123"
                                         height="32" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-effect-1">
                                <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            {% block menu %}
                                                <li><a href="/delifrus/" class="nav-link active">Inicio</a></li>
                                                <li><a href="/delifrus/empresa/" class="nav-link">Nosotros</a></li>
                                                <li><a href="/delifrus/productos/" class="nav-link">Productos</a></li>
                                                <li><a href="/delifrus/contacto/" class="nav-link">Contacto</a></li>
                                            {% endblock %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <ul class="header-social-icons social-icons social-icons-clean social-icons-medium ml-0 ml-xl-3 d-none d-md-inline-flex">
                                <li class="social-icons-facebook"><a href="http://www.facebook.com/{{marca.facebook}}" target="_blank"
                                                                     title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="social-icons-twitter"><a href="http://www.twitter.com/{{marca.twitter}}" target="_blank"
                                                                    title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="social-icons-instagram"><a href="http://www.instagram.com/{{marca.instagram}}" target="_blank"
                                    title="instagram"><i class="fab fa-instagram"></i></a>
</li>
                                <li class="social-icons-linkedin"><a href="http://www.linkedin.com/{{marca.linkedin}}" target="_blank"
                                                                     title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                    data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div role="main" class="main">
        {% block content %}
            <br>
            <div class="container pb-xl-5">
                <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">
                    <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0" style="text-align: center">
                        <h2 class="font-weight-bold text-10 appear-animation" data-appear-animation="fadeInUpShorter"
                            data-appear-animation-delay="400">{{ editable.slider_titulo }}</h2>
                        <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                           data-appear-animation="fadeInUpShorter"
                           data-appear-animation-delay="800">{{ editable.slider_subtitulo }}</p>
                    </div>
                    <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">
                        <div class="custom-svg-wrapper-1 px-5">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 687 673" data-plugin-float-element-svg="true">
                                <g class="d-none d-md-block" data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="589" cy="216"
                                            r="27"/>
                                    <circle fill="#FFF" fill="#FFFFFF" cx="588.5" cy="216.5" r="24.5"/>
                                </g>
                                <g class="d-none d-lg-block" data-plugin-float-element
                                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="128" cy="609"
                                            r="17"/>
                                    <circle fill="#FFF" cx="127.69" cy="609.31" r="15.43"/>
                                </g>
                                <g opacity="0.7" data-plugin-float-element
                                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="148" cy="64.5"
                                            r="14.5"/>
                                    <circle fill="#FFF" cx="148.27" cy="64.77" r="13.16"/>
                                </g>
                                <linearGradient id="SVGID_1_" class="custom-svg-linear-gradient"
                                                gradientUnits="userSpaceOnUse" x1="507.8588" y1="461.6467" x2="171.5928"
                                                y2="125.3807">
                                    <stop offset="0" style="stop-color:#5349FF"/>
                                    <stop offset="1" style="stop-color:#0088CC"/>
                                </linearGradient>
                                <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                                   data-appear-animation-delay="700">
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <path fill="url(#SVGID_1_)" opacity="0.2" d="M252,64c26.24-11.75,48.83-15.22,67-18c14.48-2.22,21.72-3.33,32-3c9.04,0.29,37.99,1.59,66,21
												c9.9,6.86,16.05,13.46,24,22c4.57,4.91,15.33,16.93,30,41c5.64,9.25,18.4,31.03,31,62c12.24,30.1,18.27,53.97,22,69
												c7.74,31.18,12.66,51,13,79c0.36,29.73-4.65,52.49-7,62c-4.51,18.26-9.8,39.64-25,62c-21.92,32.23-51.17,46.98-77,60
												c-16.86,8.5-34.6,17.24-60,20c-22.47,2.44-40.04-0.98-50-3c-10.59-2.15-35.39-8.17-62-25c-30.2-19.1-46.48-41.85-62-64
												c-33.11-47.26-45.37-92.3-50-113c-8.73-39.06-8.09-71.09-7-88c1.52-23.61,4.05-57.78,23-96c5.29-10.68,14.58-29.02,33-48
												C215.85,80.47,239.52,69.59,252,64z"/>
                                    </g>
                                </g>
                                <linearGradient id="SVGID_2_" class="custom-svg-linear-gradient"
                                                gradientUnits="userSpaceOnUse" x1="492.229" y1="463.2329" x2="145.1594"
                                                y2="116.1633">
                                    <stop offset="0" style="stop-color:#5349FF"/>
                                    <stop offset="1" style="stop-color:#0088CC"/>
                                </linearGradient>
                                <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                                   data-appear-animation-delay="900">
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <path fill="url(#SVGID_2_)" opacity="0.5" d="M111,154c25.18-37.35,61.01-52.15,80-60c33.83-13.98,62.35-15.1,85-16c49.05-1.94,87.48,8.19,106,14
												c26.65,8.35,77.28,24.9,122,72c13.61,14.34,44.32,47.47,58,100c6.27,24.07,5.51,48.05,4,96c-0.2,6.4-0.68,16.99-6,29
												c-5.8,13.09-14.47,21.33-21,27c-37.42,32.48-75,48-75,48c-50.83,20.99-94.45,24.86-121,27c-40.5,3.27-78.77,5.96-122-10
												c-30.74-11.35-47.68-26.12-53-31c-4.3-3.94-13.34-12.73-31-40c-20.04-30.95-30.38-46.93-39-71c-14.81-41.38-14.11-77.61-13-94
												C86.73,219.43,88.95,186.71,111,154z"/>
                                    </g>
                                </g>
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="523" cy="103"
                                            r="6"/>
                                </g>
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle fill="#DFDFDB" cx="195.5" cy="519.5" r="11.5"/>
                                </g>
                            </svg>
                            <div data-plugin-float-element
                                 data-plugin-options="{'startPos': 'top', 'speed': 0.1, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <img src="/media/{{ editable.empr_imagen }}"
                                     class="img-fluid position-relative z-index-1 appear-animation"
                                     data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container pb-xl-5" style="margin-top: -100px !important;">
                <div id="aboutus" class="row align-items-center pt-4 pb-lg-5 my-5">
                    <div class="col-lg-6 pb-sm-5 pb-lg-0 mb-5 mb-lg-0">
                        <div class="custom-svg-wrapper-1 px-5">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 687 673" data-plugin-float-element-svg="true">
                                <g class="d-none d-md-block" data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="589" cy="216"
                                            r="27"/>
                                    <circle fill="#FFF" fill="#FFFFFF" cx="588.5" cy="216.5" r="24.5"/>
                                </g>
                                <g class="d-none d-lg-block" data-plugin-float-element
                                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="128" cy="609"
                                            r="17"/>
                                    <circle fill="#FFF" cx="127.69" cy="609.31" r="15.43"/>
                                </g>
                                <g opacity="0.7" data-plugin-float-element
                                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="148" cy="64.5"
                                            r="14.5"/>
                                    <circle fill="#FFF" cx="148.27" cy="64.77" r="13.16"/>
                                </g>
                                <linearGradient id="SVGID_1_" class="custom-svg-linear-gradient"
                                                gradientUnits="userSpaceOnUse" x1="507.8588" y1="461.6467" x2="171.5928"
                                                y2="125.3807">
                                    <stop offset="0" style="stop-color:#5349FF"/>
                                    <stop offset="1" style="stop-color:#0088CC"/>
                                </linearGradient>
                                <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                                   data-appear-animation-delay="700">
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <path fill="url(#SVGID_1_)" opacity="0.2" d="M252,64c26.24-11.75,48.83-15.22,67-18c14.48-2.22,21.72-3.33,32-3c9.04,0.29,37.99,1.59,66,21
                                                    c9.9,6.86,16.05,13.46,24,22c4.57,4.91,15.33,16.93,30,41c5.64,9.25,18.4,31.03,31,62c12.24,30.1,18.27,53.97,22,69
                                                    c7.74,31.18,12.66,51,13,79c0.36,29.73-4.65,52.49-7,62c-4.51,18.26-9.8,39.64-25,62c-21.92,32.23-51.17,46.98-77,60
                                                    c-16.86,8.5-34.6,17.24-60,20c-22.47,2.44-40.04-0.98-50-3c-10.59-2.15-35.39-8.17-62-25c-30.2-19.1-46.48-41.85-62-64
                                                    c-33.11-47.26-45.37-92.3-50-113c-8.73-39.06-8.09-71.09-7-88c1.52-23.61,4.05-57.78,23-96c5.29-10.68,14.58-29.02,33-48
                                                    C215.85,80.47,239.52,69.59,252,64z"/>
                                    </g>
                                </g>
                                <linearGradient id="SVGID_2_" class="custom-svg-linear-gradient"
                                                gradientUnits="userSpaceOnUse" x1="492.229" y1="463.2329" x2="145.1594"
                                                y2="116.1633">
                                    <stop offset="0" style="stop-color:#5349FF"/>
                                    <stop offset="1" style="stop-color:#0088CC"/>
                                </linearGradient>
                                <g class="appear-animation" data-appear-animation="fadeInUpShorter"
                                   data-appear-animation-delay="900">
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <path fill="url(#SVGID_2_)" opacity="0.5" d="M111,154c25.18-37.35,61.01-52.15,80-60c33.83-13.98,62.35-15.1,85-16c49.05-1.94,87.48,8.19,106,14
                                                    c26.65,8.35,77.28,24.9,122,72c13.61,14.34,44.32,47.47,58,100c6.27,24.07,5.51,48.05,4,96c-0.2,6.4-0.68,16.99-6,29
                                                    c-5.8,13.09-14.47,21.33-21,27c-37.42,32.48-75,48-75,48c-50.83,20.99-94.45,24.86-121,27c-40.5,3.27-78.77,5.96-122-10
                                                    c-30.74-11.35-47.68-26.12-53-31c-4.3-3.94-13.34-12.73-31-40c-20.04-30.95-30.38-46.93-39-71c-14.81-41.38-14.11-77.61-13-94
                                                    C86.73,219.43,88.95,186.71,111,154z"/>
                                    </g>
                                </g>
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="523" cy="103"
                                            r="6"/>
                                </g>
                                <g data-plugin-float-element
                                   data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                    <circle fill="#DFDFDB" cx="195.5" cy="519.5" r="11.5"/>
                                </g>
                            </svg>
                            <div data-plugin-float-element
                                 data-plugin-options="{'startPos': 'top', 'speed': 0.1, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                <img src="/media/{{ editable.sec1_imagen }}"
                                     class="img-fluid position-relative z-index-1 appear-animation"
                                     data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="font-weight-bold  appear-animation" data-appear-animation="fadeInUpShorter"
                            data-appear-animation-delay="400"
                            style="text-align: center"> {{ editable.sec1_titulo }} </h2>
                        <p class="custom-font-size-2 font-weight-light pb-2 mb-4 appear-animation"
                           data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800 "
                           style="text-align: center">{{ editable.sec1_detalle }}</p>
                    </div>
                </div>
            </div>

            <section id="team" class="section section-with-shape-divider custom-bg-color-1 border-0 m-0">
                <div class="shape-divider" style="height: 385px;">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         x="0px" y="0px" viewBox="0 0 2000 385" preserveAspectRatio="xMinYMin">
                        <circle class="custom-svg-fill-color-secondary" fill="#9DA3F6" opacity="0.2" cx="57" cy="181"
                                r="161"/>
                        <circle class="custom-svg-fill-color-secondary" fill="#5349FF" opacity="0.3" cx="75.5"
                                cy="158.5" r="169.5"/>
                        <path fill="#FFFFFF" opacity="0.5" d="M-35,226c17.66,1.2,43.63,2.44,75,2c83.48-1.18,144.86-13.49,188-22c224.54-44.3,165.12-27.27,310-59
                                    c133.16-29.16,128.14-31.45,223-52c206.26-44.68,317.22-68.72,460-68c97.61,0.49,73.58,11.86,293,25c164.22,9.83,250.54,7.83,279,7
                                    c102.76-2.99,187.96-12.01,248-20c0-24.69,0-49.37,0-74.06c-694.67,0-1389.33,0-2084,0C-40.33,51.96-37.67,138.98-35,226z"/>
                        <path fill="#FFFFFF" d="M-37,185c17.21,1.44,42.06,3.17,72,4c81.96,2.26,170.2-3.07,325-30c54.07-9.4,98.99-18.41,221-45
                                    c255.1-55.59,223.26-53.86,287-64c57.13-9.09,228.37-36.32,423-18c36.66,3.45,96.62,10.63,187,14c16.19,0.6,75.77,2.66,156,1
                                    c90.18-1.87,157.94-7.44,248-15c46.95-3.94,99.2-8.84,156-15c0-12.82,0-25.65,0-38.47c-692.67,0-1385.33,0-2078,0
                                    C-39,47.35-38,116.18-37,185z"/>
                    </svg>
                </div>
                <div class="container pt-md-5 pb-1 pb-sm-5 my-5">
                    <div class="row justify-content-center pt-5">
                        <div class="col-lg-10 text-center">
                            <h2 class="font-weight-bold text-10 mb-4 appear-animation"
                                data-appear-animation="fadeInUpShorter"
                                data-appear-animation-delay="400">{{ editable.sec2_titulo }}</h2>
                            <p class="custom-font-size-2 font-weight-light appear-animation"
                               data-appear-animation="fadeInUpShorter"
                               data-appear-animation-delay="600">{{ editable.sec2_subtitulo }}</p>
                        </div>
                    </div>
                    <div class="row mb-5 mb-lg-0">
                        <div class="col">
                            <div class="custom-svg-wrapper-2">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1736 315"
                                     data-plugin-float-element-svg="true">
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <circle fill="#DFDFDB" cx="145.5" cy="31.5" r="9.5"/>
                                    </g>
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="75" cy="128"
                                                r="17"/>
                                        <circle fill="#eff1f3" cx="74.69" cy="128.31" r="15.43"/>
                                    </g>
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'bottom', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="1693"
                                                cy="201.5" r="17"/>
                                        <circle fill="#eff1f3" cx="1693.31" cy="201.81" r="15.43"/>
                                    </g>
                                    <g data-plugin-float-element
                                       data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                        <circle fill="#DFDFDB" cx="1620.5" cy="295.5" r="9.5"/>
                                    </g>
                                </svg>
                                <div class="appear-animation" data-appear-animation="fadeInUpShorter"
                                     data-appear-animation-delay="800">
                                    <div class="owl-carousel custom-dots-style-1"
                                         data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoplay': true, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': true, 'nav': false, 'loop': true, 'margin': 30, 'stagePadding': 15}">
                                        {% for producto in productos %}
                                            <div>
                                                <a href="#" class="text-decoration-none">
                                                    <div class=" my-3">
                                                        <div class=" p-3">
                                                            <div class="  mb-3 pb-2">
                                                                <div class="thumb-info-wrapper">
                                                                    <img src="/media/{{ producto.imagen }}"
                                                                         class="img-fluid" alt="John Doe"/>
                                                                </div>
                                                            </div>
                                                            <p class="text-center text-color-grey text-3 mb-2">
                                                                {{ producto.nombre_producto }}</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        {% endblock %}
    </div>

    <footer id="footer" class="border-0 bg-dark pt-4 mt-0">
        <div class="custom-svg-wrapper-4 pb-5">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px" viewBox="0 0 1667 581" data-plugin-float-element-svg="true">
                <g data-plugin-float-element
                   data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                    <circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="39" cy="315" r="17"/>
                    <circle fill="#222529" cx="38.69" cy="315.31" r="15.43"/>
                </g>
                <g data-plugin-float-element
                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                    <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="257" cy="545" r="4"/>
                </g>
                <g data-plugin-float-element
                   data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                    <circle fill="#333539" cx="501.5" cy="304.5" r="10.5"/>
                </g>
                <g data-plugin-float-element
                   data-plugin-options="{'startPos': 'bottom', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                    <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="738" cy="36" r="6"/>
                </g>
                <g data-plugin-float-element
                   data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                    <circle class="custom-svg-fill-color-secondary" fill="#5349FF" cx="1630" cy="368" r="6"/>
                </g>
            </svg>
            <div class="container mt-5 mt-lg-0">
                <div class="row">
                    <div class="col-lg-6 text-center pb-3 pb-lg-0 mb-6 mb-lg-0">
                    
                        <h2 class="font-weight-bold text-color-light text-10 mb-5">Contáctenos</h2>
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="row pb-5 mb-5">
                                    <div class="col">
                                        <div data-plugin-float-element
                                             data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                            <img class="icon-animated" width="55"
                                                 src="/static/img/demos/startup-agency/icons/icon-location.svg" alt=""
                                                 data-icon
                                                 data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary mb-3'}"/>
                                            <h4 class="font-weight-bold text-color-light text-5 mb-0">Dirección</h4>
                                            <p class="text-4 text-color-light opacity-5 font-weight-light mb-0">{{marca.direccion}} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div data-plugin-float-element
                                             data-plugin-options="{'startPos': 'bottom', 'speed': 0.1, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                            <img class="icon-animated" width="55"
                                                 src="/static/img/demos/startup-agency/icons/icon-mail.svg" alt=""
                                                 data-icon
                                                 data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary mb-3'}"/>
                                            <h4 class="font-weight-bold text-color-light text-5 mb-0">E-mail
                                               </h4>
                                            <a href="mailto: {{ marca.correo }}"
                                               class="text-4 text-color-light text-color-hover-primary opacity-5 font-weight-light mb-0">{{marca.correo}} </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 pt-5">

                                <div class="row pb-5 mb-5">
                                    <div class="col">
                                        <div data-plugin-float-element
                                             data-plugin-options="{'startPos': 'bottom', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                            <img class="icon-animated" width="55"
                                                 src="/static/img/demos/startup-agency/icons/icon-phone.svg" alt=""
                                                 data-icon
                                                 data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary mb-3'}"/>
                                            <h4 class="font-weight-bold text-color-light text-5 mb-0">Celular</h4>
                                            <a href="tel:{{marca.celular}}"
                                               class="text-4 text-color-light text-color-hover-primary opacity-5 font-weight-light mb-0">{{marca.celular}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div data-plugin-float-element
                                             data-plugin-options="{'startPos': 'bottom', 'speed': 0.1, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
                                            <img class="icon-animated" width="55"
                                                 src="/static/img/demos/startup-agency/icons/icon-calendar.svg" alt=""
                                                 data-icon
                                                 data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary mb-3'}"/>
                                            <h4 class="font-weight-bold text-color-light text-5 mb-0">Días/Horas Laborables</h4>
                                            <p class="text-4 text-color-light opacity-5 font-weight-light mb-0">Lun - Dom  9:00AM - 8:00PM</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-lg-6">
                        
                        <div class="row">
                            <div class="thumb-info-wrapper">
                                <br><br><br><br><br> <a href="/delifrus/">
                                    <img src="/media/{{ marca.logo_horizontal }}"   class="img-fluid" alt=""/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright bg-dark mt-5 pb-5">
            <div class="container footer-top-light-border pt-4">
                <div class="row">
                    <div class="col">
                        <p class="text-center text-color-light opacity-5">
                            <a href="/">Copyright - 2022 - Grupo Benitez - All Rights Reserved</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

<!-- Vendor -->
<script src="/static/static_delifrus/vendor/jquery/jquery.min.js"></script>
<script src="/static/static_delifrus/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="/static/static_delifrus/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/static/static_delifrus/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="/static/static_delifrus/vendor/popper/umd/popper.min.js"></script>
<script src="/static/static_delifrus/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/static_delifrus/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="/static/static_delifrus/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="/static/static_delifrus/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="/static/static_delifrus/vendor/lazysizes/lazysizes.min.js"></script>
<script src="/static/static_delifrus/vendor/isotope/jquery.isotope.min.js"></script>
<script src="/static/static_delifrus/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/static/static_delifrus/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/static/static_delifrus/vendor/vide/jquery.vide.min.js"></script>
<script src="/static/static_delifrus/vendor/vivus/vivus.min.js"></script>
<script src="/static/static_delifrus/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
<script src="/static/static_delifrus/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
<script src="/static/static_delifrus/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/static/static_delifrus/js/theme.js"></script>


<!-- Current Page Vendor and Views -->
<script src="/static/static_delifrus/js/views/view.shop.js"></script>
<!-- Theme Custom -->
<script src="/static/static_delifrus/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/static/static_delifrus/js/theme.init.js"></script>

<!-- Examples -->
<script src="/static/static_delifrus/js/examples/examples.gallery.js"></script>
</body>
</html>
